<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.makank">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.InstructionsActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""
            ></activity>
        <activity
            android:name=".ui.news.NewsDetailsActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.DiseaseActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="">

        </activity>
        <activity
            android:name=".ui.activity.AddGroupActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.QrCodeActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.SendNotifActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.VolunteerActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.ContactActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.Steper"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity android:name=".ui.activity.HomeActivity"
            />
        <activity
            android:name=".ui.Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PlaceActivity"
            android:label="المنطقة" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label=""/>
        <activity
            android:name=".ui.activity.StateActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".ui.activity.LocalActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".ui.activity.CityActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name=".ui.activity.TestActivity"
            android:label=""
            />
    </application>

</manifest>